body {
	margin: 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.87);
	background-color: #0f0f0f;
	font-family: "Courier New", Courier, monospace;
}

#app {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("assets/images/new_site_bg.jpg");
	background-position: top;
    background-size: cover;
}

#app a { 
	color: #FFDE21;
}

#app canvas {
	box-shadow: 0px 0px 20px #000;
}
